<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
</p>

<h2>Comments</h2>
<div id="comments">
<<<<<<< HEAD
  <% @post.comments.each do |comment| %>
    <%= div_for comment do %>
    <p>
      <strong>Posted <%= time_ago_in_words(comment.created_at) %></strong><br/>
      <%= h(comment.body) %>
    </p>
  <% end %>
<% end %>
=======
  <%= render :partial => @post.comments.reverse %>
>>>>>>> eb45c3c6b37ffca6c7a92788c1a07dd0d9d064cb
</div> 

<%= form_for [@post, Comment.new], :remote => true do |f| %>
        <p>
	  <%= f.label :body, "New comment" %><br/>
          <%= f.text_area :body %>
        </p>
        <p><%= f.submit "Add comment" %></p>
<% end %> 

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
